extends layout

block content
  div.page
    div.view
      h2 Query 1
      p Lists weapon’s name, maximum damage and minimum damage, and mag size.

      pre
        code.language-sql.
          SELECT Name, Max_damage, Min_damage, Mag_size
          FROM WEAPON JOIN DAMAGE
            ON Id JOIN RELOAD
            ON Id
          ORDER BY Name;

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Mag Size
        tbody
          each weapon in query1
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Mag_size }

      br
      br

      h2 Query 2
      p Lists the weapon’s data, which has the largest rate of fire than all other weapons

      pre
        code.language-sql.
          SELECT *
          FROM WEAPON as w1
          WHERE Rate_of_fire >= ALL (
                                      SELECT Rate_of_fire
                                      FROM WEAPON as w2
                                      WHERE w1.Muzzle_velocity = w2.Muzzle_velocity
                                      GROUP BY Rate_of_fire
                                    );
      table.table.table-hover
        thead
          tr
            th Name
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query2
            tr
              td #{ weapon.Name }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br

      h2 Query 3
      p Lists weapons with maximum damage larger than 45.

      pre
        code.language-sql.
          SELECT *
          FROM DAMAGE AS D
          WHERE 45 < ( SELECT Max_damage
                       WHERE D.id = id );
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br

      h2 Query 4
      p Lists weapons and their pair with the same maximum distance. If there’s no pair, the weapons will still be listed.

      pre
        code.language-sql.
          SELECT*
          FROM WEAPON w1 FULL JOIN WEAPON w2
          ON Max_distance
          WHERE w1.Id! = w2.Id;

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Mag Size
        tbody
          each weapon in query1
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Mag_size }

      br
      br

      h2 Query 5
      p Lists weapons that have at least 1 quantity in the supply

      pre
        code.language-sql.
          SELECT *
          FROM DAMAGE AS D
          WHERE 45 < ( SELECT Max_damage
                       WHERE D.id = id );
         SELECT Id
         FROM WEAPON
         INTERSECT (SELECT Id
                    FROM SUPPLY
                    WHERE count > 0);
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
            th Supply
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }
              td #{ weapon.Supply}

      br
      br

      h2 Query 6
      p List Weapon with highest damage and Largest count

      pre
        code.language-sql.
          FROM WEAPON JOIN SUPPLY ON Id
          WHERE Max_damage > ALL ( SELECT Max_damage
                                  FROM WEAPON)
          AND count>ALL (SELECT count
          FROM SUPPLY);
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br


      h2 Query 7
      p List Weapons with that are available in the supply in the ascending order
      pre
        code.language-sql.
          SELECT Name, Id, count
          FROM WEAPON JOIN SUPPLY
          ON Id
          WHERE count > 0
          ORDER BY count ASC
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br


      h2 Query 8
      p List List Weapons with Highest Damage and Least Spread
      pre
        code.language-sql.
        SELECT*
FROMWEAPONJOINSPREADONId WHEREMax_damage>ALL(SELECTmax_damage
FROMWEAPON) Spread_Min<ALL(SELECTSpread_Min
FROMSPREAD);

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br

      h2 SONAL ADD YOUR QUERY9  SHIT
      br
      br


      h2 Query 10
      p List List Weapons with Highest Damage and Least Spread
      pre
        code.language-sql.
        SELECT*
        FROM WEAPON JOINSUPPLY ONI d
        WHERE count=0 
        ORDER BY Name;

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br