extends layout

block content
  div.page
    div.view
      h2 Query 1
      p Lists weapon’s name, maximum damage and minimum damage, and mag size.

      pre
        code.language-sql.
          SELECT Name, Max_damage, Min_damage, Mag_size
          FROM WEAPON JOIN DAMAGE
            ON Id JOIN RELOAD
            ON Id
          ORDER BY Name;

      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Mag Size
        tbody
          each weapon in query1
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Mag_size }

      br
      br

      h2 Query 2
      p Lists the weapon’s data, which has the largest rate of fire than all other weapons

      pre
        code.language-sql.
          SELECT *
          FROM WEAPON as w1
          WHERE Rate_of_fire >= ALL (
                                      SELECT Rate_of_fire
                                      FROM WEAPON as w2
                                      WHERE w1.Muzzle_velocity = w2.Muzzle_velocity
                                      GROUP BY Rate_of_fire
                                    );
      table.table.table-hover
        thead
          tr
            th Name
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query2
            tr
              td #{ weapon.Name }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

      br
      br

      h2 Query 3
      p Lists weapons with maximum damage larger than 45.

      pre
        code.language-sql.
          SELECT *
          FROM DAMAGE AS D
          WHERE 45 < ( SELECT Max_damage
                       WHERE D.id = id );
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query3
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }

h2 Query 9
      p Lists all weapons ordered by maximum damage in ascending order.

      pre
        code.language-sql.
          SELECT*
          FROMWEAPON
          ORDERBY Max_damage ASC;
      table.table.table-hover
        thead
          tr
            th Name
            th Max Damage
            th Min Damage
            th Rate of Fire (RPM)
            th Muzzle Velocity
            th Max Distance
            th Bullet Drop
        tbody
          each weapon in query9
            tr
              td #{ weapon.Name }
              td #{ weapon.Max_damage }
              td #{ weapon.Min_damage }
              td #{ weapon.Rate_of_fire }
              td #{ weapon.Muzzle_velocity }
              td #{ weapon.Max_dist }
              td #{ weapon.Bullet_drop }
